html{
    scroll-behavior: smooth;
}

.body {
    background-color: #1b1e21;
    background-image: url("./images/sparkles-portfolio.gif");
}

.home{
    height: 100vh;
    /*background-color: green;*/
}

.about{
    background-image: url("./images/background-brick-close-up-1585710.jpg");
    border-radius: 20px;
    /*height: 70vh;*/

}
